<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    {% block title %}<title>Aymane story_book</title>{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Aymane Stories</span>
    </nav>
    {% block body %}
    {% endblock %}
    {% block footer %}
        <br><footer>
        <div class="footer footer-dark bg-dark">
           <center><div class="footer-about">
                <h5 style="color: aliceblue">About</h5>
                <p style="color: darkgray ">A virtual story book powered by Aymane Talibi</p>
            </div>

            <div class="footer-quick-links">
                <h5 style="color: aliceblue">Contributeur</h5>
                <ul>
                    <li><a href="https://github.com/aymanexpo">Contact Me</a></li>
                </ul>
            </div><hr></center>
            <center><small style="color: aliceblue">
            Copyright &copy; 2020 All rights reserved | This template is made with <span class="fa fa-heart"></span> by <a href="https://www.facebook.com/aymane.didi.3/">Aymane Talibi</a>
        </small></center>
        </div>
    </footer>
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>